/* =============
    Base
============= */

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

@mixin site-padding{
    padding: 40px 20px;

    @include lg{
        padding: 100px 100px;
    }

}

img{
    max-width: 100%;
}

*{
    scroll-behavior: smooth;
}
