/* =============
    Typography
============= */

@mixin headline {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

@mixin button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h1{
    @include headline;
}