#buynow{

background-color: $darkgray;

#bigimage{
    margin-top: 16px;
}

a{
    @include button2;
}

h2{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40pt;
    color: white;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 32pt;
    color: white;
}

div{
    display: flex;

    img{
        width: 15%;
        height: 15%;
        margin-left: 16px;
        align-items: center;
    }

    a{
        margin: 8px;
    }
}

}