#buynow {

    background-color: $darkgray;
    width: 600px;
    padding: 24px;
    display:flex;
    justify-content: center;
    border-radius: 24px;

    a {
        @include button2;
    }

    #gray {
        @include button2;
        background-color: #5A5A5A;
    }

    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 40pt;
        color: white;
    }

    #four {
        padding-left: 16px;
        font-weight: 700;
    }

    p {
        font-family: 'Inter', sans-serif;
        font-weight: 100;
        font-size: 32pt;
        color: white;
    }

    a {
        margin: 8px;
    }

    #info{
        display: flex;
        flex-direction: column;
    }
}