#form{
    padding-top: 80px;
    align-items: center;

    a{
        @include button2;
        margin-left: 700px;
        margin-left: 700px;
    }

    h1{
        font-family: 'Inter', sans-serif;
        font-weight: 100;
        font-size: 40pt;
        color: $text;
        padding: 16px;
    }

    #cardinfo{
        background-color: rgb(233, 233, 233);
        display: grid;
        margin-left: 24px;
        margin-right: 24px;
        border-radius: 16px;
        justify-content: center;
        text-align: center;
        width: 500px;

        @include lg{
            justify-self: center;
            margin-left: 600px;
            margin-right: 600px;
        }

        form{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 16pt;
            padding: 40px;
            input{
                border-radius: 10px;
                background-color: $lightgray;
                color: $text;
                padding: 18px;
                margin: 12px;
                border: none;
            }
        }
    }
    #shipinfo{
        display: grid;

        @include lg{
            justify-self: center;
            margin-left: 600px;
            margin-right: 600px;
        }

        form{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 16pt;
            padding: 40px;
            input{
                border-radius: 10px;
                background-color: $lightgray;
                color: $text;
                padding: 18px;
                margin: 12px;
                border: none;
            }
        }
    }
}