#reviews{

    margin-bottom: 40px;
    padding-right: 32px;
    padding-left: 32px;

    @include lg{
        .reviewcontainer{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
    }

    .center{
        a{
        @include button2;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 24px;
    }

    h4{
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 24pt;
        color: $text;
    }

    p{
        font-family: 'Inter', sans-serif;
        font-weight: 100;
        font-size: 24pt;
        color: $text;
    }

}