/* =============
    Footer
============= */

footer{

    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: $text;
    text-align: center;

    margin-top: 24px;
    border-top: 1px solid $text;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 72px; 

    #subscribe{
        @include button2;
    }

    input{
                margin-left: 48px;
                display: block;
                font-family: 'Inter', sans-serif;
                font-size: 16pt;
                border-radius: 4px;
                background-color: $lightgray;
                border: none;
                padding: 20px;
                margin-bottom: 20px;
    }

}