/* =============
    Buttons
============= */

@mixin button1{
    background-color: $blue;
    padding: 8px 40px;
    color: white;
    text-decoration: none;

    @include button1-text;
    
    &hover{
        background-color: $darkgray;
        transition: 0.5s;
    }

}

@mixin button2{
    background-color: $blue;
    padding: 0px 52px;
    color: white;
    text-decoration: none;

    @include button2-text;
    
    &hover{
        background-color: $darkgray;
        transition: 0.5s;
    }

}