/* =============
    Navigation
============= */

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include site-padding;


    #logo-text {

        display: none;

        @include lg {
            display: inline;
        }
    }

    #burger-container {

        margin-left: auto;
        display: block;
        position: relative;
        z-index: 3;
        margin-right: 12px;


        #burgerBtn {

        display: flex;
        flex-direction: column;
        gap: 6px;
        position:relative;

            div{
                height: 4px;
                width: 24px;
                background-color: black;
                border-radius: 4px;
            }
        }

        @include lg {
            display: none;
        }

    }

    #main-menu {
        display: none;

        &.show-menu{
            display: inline;
        }

        @media only screen and (max-width: 1024px) {
            background-color: $blue;
            color: white;
            transition:.3s;
            height: 100vw;
            width: 80%;
            position: absolute;
            top: 0;
            right: -100%;
        }
  
            &.show-menu{
                right:0;
                transition:.3s;
            }

        @include lg {
            display: inline-flex;
            display: flex;
            margin-left: auto;

            ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 48px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 20pt;
            color: black;
            list-style: none;
            }

            input{
                margin-left: 48px;
                display: block;
                font-family: 'Inter', sans-serif;
                font-size: 16pt;
                border-radius: 4px;
                background-color: $lightgray;
                border: none;
            }

        }
    }
}